In [32]:
from sodapy import Socrata
import json
import pandas as pd
import numpy as np

In [60]:
url="data.buffalony.gov"
db="d6g9-xbgu"

In [72]:
def get_data(url,db):
    from sodapy import Socrata
    import json
    import pandas as pd
    import numpy as np 
    client = Socrata(url, None)
    results = client.get(db, limit=253370)
    df=pd.DataFrame.from_records(results,columns=['incident_datetime','latitude','longitude','day_of_week','parent_incident_type'])
    df.incident_datetime=pd.to_datetime(df.incident_datetime)
    return df

In [4]:
def data_cleaning(df):
    df=df.dropna()
    df.latitude=df.latitude.astype(float)
    df.longitude=df.longitude.astype(float)
    df.day_of_week=df.day_of_week.str.replace('SATURDAY','Saturday')
    df.day_of_week=df.day_of_week.str.replace('FRIDAY','Friday')
    df.day_of_week=df.day_of_week.str.replace('SUNDAY', 'Sunday')
    df.day_of_week=df.day_of_week.str.replace('MONDAY','Monday')
    df.day_of_week=df.day_of_week.str.replace('TUESDAY','Tuesday')
    df.day_of_week=df.day_of_week.str.replace('WEDNESDAY','Wednesday')
    df.day_of_week=df.day_of_week.str.replace('THURSDAY','Thursday')
    return df

In [63]:
def sliced(df):
    df=df.sort_values('incident_datetime')
    df=df.set_index('incident_datetime')
    df=df.loc['01-01-2007':]
    train=df[:'01-01-2021']
    test=df['01-02-2021':]
    return train,test

In [50]:
def date_test_split(train,test):
    date_train=train.reset_index().incident_datetime
    date_test=test.reset_index().incident_datetime
    return date_train,date_test
def loc_train_test(train,test):
    loc_train=train.drop(columns=['day_of_week','parent_incident_type'])
    loc_test=test.drop(columns=['day_of_week','parent_incident_type'])
    return loc_train,loc_test
def type_train_test(train,test):
    type_train=train
    type_test=test
    return type_train,type_test

In [51]:
def date_full_pipeline(url,db): 
    df=get_data(url,db)
    df=data_cleaning(df)
    train,test=sliced(df)
    date_train,date_test=date_test_split(train,test)
    return date_train,date_test

In [52]:
def loc_full_pipeline(url,db): 
    df=get_data(url,db)
    df=data_cleaning(df)
    train,test=sliced(df)
    loc_train,loc_test=loc_train_test(train,test)
    return loc_train,loc_test

In [53]:
def type_full_pipeline(url,db):
    df=get_data(url,db)
    df=data_cleaning(df)
    train,test=sliced(df)
    type_train,type_test=type_train_test(train,test)
    return type_train,type_test

In [56]:
def date_quick_pipeline(df):
    df=data_cleaning(df)
    train,test=sliced(df)
    date_train,date_test=date_test_split(train,test)
    return date_train,date_test

In [57]:
def loc_quick_pipeline(df):
    df=data_cleaning(df)
    train,test=sliced(df)
    loc_train,loc_test=loc_train_test(train,test)
    return loc_train,loc_test

In [58]:
def type_quick_pipeline(df):
    df=data_cleaning(df)
    train,test=sliced(df)
    type_train,type_test=type_train_test(train,test)
    return type_train,type_test

In [61]:
df=get_data(url,db)
df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

    incident_datetime latitude longitude day_of_week parent_incident_type
0 2020-08-28 00:00:00   42.906   -78.892      FRIDAY     Theft of Vehicle
1 2020-08-28 03:00:00   42.917   -78.885      FRIDAY     Theft of Vehicle
2 2020-08-14 09:55:00   42.923   -78.803      FRIDAY                Theft
3 2020-08-28 03:15:00   42.907   -78.884      FRIDAY     Theft of Vehicle
4 2020-08-28 00:06:00   42.839   -78.824      FRIDAY                Theft

In [64]:
date_train,date_test=date_quick_pipeline(df)

C:\Users\mmioi\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [65]:
date_train

0        2007-01-01 00:00:00
1        2007-01-01 00:00:00
2        2007-01-01 00:00:00
3        2007-01-01 00:00:00
4        2007-01-01 00:00:00
                 ...
228377   2021-01-01 21:46:30
228378   2021-01-01 22:00:00
228379   2021-01-01 22:00:00
228380   2021-01-01 22:10:00
228381   2021-01-01 23:42:39
Name: incident_datetime, Length: 228382, dtype: datetime64[ns]

In [66]:
date_test

0      2021-01-02 00:10:00
1      2021-01-02 00:10:00
2      2021-01-02 01:00:00
3      2021-01-02 01:29:26
4      2021-01-02 05:44:30
               ...
7399   2021-09-10 00:35:36
7400   2021-09-10 01:10:00
7401   2021-09-10 02:17:57
7402   2021-09-10 03:11:39
7403   2021-09-10 09:00:00
Name: incident_datetime, Length: 7404, dtype: datetime64[ns]

In [67]:
loc_train,loc_test=loc_quick_pipeline(df)

C:\Users\mmioi\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [68]:
loc_train

                      latitude  longitude
incident_datetime
2007-01-01 00:00:00  42.895921 -78.855169
2007-01-01 00:00:00  42.947516 -78.883895
2007-01-01 00:00:00  42.889568 -78.861224
2007-01-01 00:00:00  42.904967 -78.881001
2007-01-01 00:00:00  42.895563 -78.843779
...                        ...        ...
2021-01-01 21:46:30  42.937000 -78.851000
2021-01-01 22:00:00  42.883000 -78.866000
2021-01-01 22:00:00  42.919000 -78.856000
2021-01-01 22:10:00  42.899000 -78.835000
2021-01-01 23:42:39  42.873000 -78.825000

[228382 rows x 2 columns]

In [69]:
loc_test

                     latitude  longitude
incident_datetime
2021-01-02 00:10:00    42.951    -78.838
2021-01-02 00:10:00    42.956    -78.869
2021-01-02 01:00:00    42.886    -78.803
2021-01-02 01:29:26    42.925    -78.886
2021-01-02 05:44:30    42.893    -78.844
...                       ...        ...
2021-09-10 00:35:36    42.883    -78.871
2021-09-10 01:10:00    42.959    -78.895
2021-09-10 02:17:57    42.922    -78.829
2021-09-10 03:11:39    42.911    -78.846
2021-09-10 09:00:00    42.953    -78.847

[7404 rows x 2 columns]

In [70]:
type_train,type_test=type_quick_pipeline(df)

C:\Users\mmioi\anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [71]:
type_train

                      latitude  longitude day_of_week  parent_incident_type
incident_datetime
2007-01-01 00:00:00  42.895921 -78.855169      Monday                 Theft
2007-01-01 00:00:00  42.947516 -78.883895      Monday  Other Sexual Offense
2007-01-01 00:00:00  42.889568 -78.861224      Monday        Sexual Assault
2007-01-01 00:00:00  42.904967 -78.881001      Monday                 Theft
2007-01-01 00:00:00  42.895563 -78.843779      Monday   Breaking & Entering
...                        ...        ...         ...                   ...
2021-01-01 21:46:30  42.937000 -78.851000      Friday      Theft of Vehicle
2021-01-01 22:00:00  42.883000 -78.866000      Sunday               Assault
2021-01-01 22:00:00  42.919000 -78.856000    Saturday      Theft of Vehicle
2021-01-01 22:10:00  42.899000 -78.835000      Friday               Robbery
2021-01-01 23:42:39  42.873000 -78.825000      Friday               Assault

[228382 rows x 4 columns]

In [73]:
def sliced_advanced(df,train_date,test_date):
    df=df.sort_values('incident_datetime')
    df=df.set_index('incident_datetime')
    df=df.loc['01-01-2007':]
    train=df[:train_date]
    test=df[test_date:]
    return train,test

In [74]:
def date_advanced_pipeline(df,train_date,test_date):
    #require dates for train and test in paranthasies
    df=data_cleaning(df)
    train,test=sliced_advanced(df,train_date,test_date)
    date_train,date_test=date_test_split(train,test)
    return date_train,date_test

Loc_advanced_pipeline: 
    inputs: df (dataframe)\
            train_date (date desired for the end of training period)\
            test_date (date desired for the start of testing period)

In [81]:
def loc_advanced_pipeline(df,train_date,test_date):
    df=data_cleaning(df)
    train,test=sliced_advanced(df,train_date,test_date)
    loc_train,loc_test=loc_train_test(train,test)
    return loc_train,loc_test

Loc_advanced_pipeline: 
    inputs: df (dataframe)\
            train_date (date desired for the end of training period)\
            test_date (date desired for the start of testing period)

In [82]:
def type_advanced_pipeline(df):
    df=data_cleaning(df)
    train,test=sliced_advanced(df,train_date,test_date)
    type_train,type_test=type_train_test(train,test)
    return type_train,type_test

type_advanced_pipeline: 
    inputs: df (dataframe)\
            train_date (date desired for the end of training period)\
            test_date (date desired for the start of testing period)